$head-txt-color: #2C3E50;
$head-paragraph-color: #2C3E50;

$background: ('yellow': #FFC12D, 'green': #A7EC2F, 'red': #FEB1A4, 'blue': #85EBFA, 'purple': #AACDF6);
$border: ('yellow': #C89210, 'green': #7BC200, 'red': #F55C43, 'blue': #47B4F6, 'purple': #8781BD);
$icon: ('yellow': #A47503, 'green': #558502, 'red': #D52E13, 'blue': #0787D4, 'purple': #5B568E);
