$head-txt-color: #2C3E50;
$head-paragraph-color: #A1B1BC;
$close-btn-color: #CFD2D3;


$background: ('yellow': #FFC12D, 'green': #97E411, 'red': #FD7761, 'blue': #6FD9FC, 'purple': #A39CDC);
$border: ('yellow': #F9B718, 'green': #7BC200, 'red': #F55C43, 'blue': #47B4F6, 'purple': #8781BD);
$icon: ('yellow': #A47503, 'green': #558502, 'red': #D52E13, 'blue': #0787D4, 'purple': #5B568E);
