@import 'reset';
@import 'shared';
@import 'palette';

.main-container{
    width: 1170px;
    height: 633px;
    margin: 0 auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 97px;
    gap: 53px;
    h1{
        width: 100%;
        font-weight: 300;
        font-size: 30px;
        color: $head-txt-color;
    }
    .items-container{
        .item{
            justify-content: flex-start;
            align-items: center;
            .icon-container{
                gap: 28px;    
                margin-left: 50px; 
                i{                       
                    display: flex;
                    &.icon{                        
                        @include styling-icon;
                    }
                }
                @each $name, $color in $background {
                    .icon-#{$name}{
                        background-color: $color;
                        border-color: map-get($border, $name);
                        color: map-get($icon, $name);
                    }
                }

                .text-container{
                    height: 70px;
                    h2{
                        font-size: 14px;
                        font-weight: 900;
                        color: $head-txt-color;
                        letter-spacing: 0.1em;
                    }
                    p{
                        font-size: 14px;
                        line-height: 24px;
                        color: $head-paragraph-color;
                        margin-top: 13px;
                    }
                }
            }
        }
        .standart{
            @include styling-item;
        }
        .big{
            @include styling-item(100%);
            grid-column: span 2;
        }
    }
    .close{
        font-size: 14px;
        color: $close-btn-color;
        position: absolute;
        right: 18px;
        top: 18px;
        cursor: pointer;
    }
}